@use '../abstracts/colors' as a;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  p {
    font-size: .8rem;
    margin: 1.5rem 0;
    color: a.$black;
  }
}