@use '../abstracts/colors' as a;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  p {
    font-size: .8rem;
    margin-top: 1.5rem;
    color: a.$black;
  }
}