@use '../abstracts/colors' as a;

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh 0;
  z-index: 10;
  background-color: red;

  p {
    font-size: .8rem;
    color: white;
  }

  p::before {
    display: block;
    content: '';
    width: 50%;
    margin: 0 auto 2rem;
    height: 2px;
    background: a.$gray;
  }
}