@use '../abstracts/colors' as a;

main {
  color: a.$white;
  padding: 5dvh 0;
}

.banner {
//   background: linear-gradient(
//   to bottom,
//   a.$white 0%,
//   a.$white 15%,
//   a.$black 15%,
//   a.$black 100%
// );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80dvh;
  padding: 0 180px 0 7vw;
  font-weight: 700;
}

.banner-info {
  color: a.$gray;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 5rem;
  
  h1 {
    color: a.$black;
    font-size: 56px;
  }
  
  h2 {
    color: a.$gray;
    font-size: 48px;
  }
  
  h3 {
    font-size: 1rem;
    font-weight: 500;
    text-wrap: balance;
  }
  
  p {
    font-size: 1rem;
    text-wrap: balance;
  }
  
  a {
    font-size: 1rem;
  }
}

.banner-image {
  height: 100%;
  will-change: transform;
  margin-top: 9rem;
}

.social-banner {
  width: 200px;
  display: none;
  justify-content: center;
  margin: 2rem auto 0;
  gap: 1em;
  color: a.$white;
  mix-blend-mode: difference;

  .social-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 960px) {
  main {
    padding: 5% 0 15vh;
  }

  .banner {
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 25vh 5vw;
    text-wrap: balance;

    .banner-info {
      
      h1, h2 {
        font-size: 3rem;
      }

      a {
        margin: auto;
      }
    }
  }

  .banner-image {
    height: 50vh;
    margin-top: 8rem;
  }
}

@media (max-width: 576px) {
    main {
      padding: 5% 0 5vh;
    }

    .banner {
      flex-direction: column;
      height: 100%;
      text-align: center;
      padding: 15vh 5vw;

      .banner-info {
        
        h2 {
          font-size: 2.5rem;
        }

        a {
          margin: auto;
        }
      }
    }

  .banner-image {
    height: 50vh;
    margin-top: 8rem;
  }

    .social-banner {
      display: flex;
    }
}
