.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

[data-anime] {
  opacity: 0;
}
.anime {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.8s, opacity 0.8s;
}
