@font-face {
  font-family: 'FSLucasPro';
  src: url('../assets/fonts/FSLucasPro-Bold.ttf');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'FSLucasPro';
  src: url('../assets/fonts/FSLucasPro-Med.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}