@use '../abstracts/colors' as a;

.btn {
  position: relative;
  border: 2px solid a.$white;
  color: a.$white;
  text-decoration :none;
  margin: 1.5rem auto;
  padding: 0.5rem 3rem;
  transition: .2s;
  background-color: black;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: a.$black;
    background-color: a.$white;
  }

  &:after {
    content:" ";
    border: 10px solid a.$black;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: all .3s;
    mix-blend-mode: difference;
  }

  &:hover:after {  
    border: 3px solid a.$white;
    width: calc(100% - 20px);
    height: calc(100% + 20px); 
  }
}

#status {
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: 1;
  visibility: hidden;
  transition: .3s ease;

  .success {
    transform-origin: 50% 50%;
    transform: translateY(-50%) rotate(0deg) scale(0);
    transition: .3s ease;
    color: a.$white;
    font-size: 24px;
  }
}

.btn.active {
  width: 50px;
  height: 50px;
  padding: 0;

  &:hover {
    background-color: a.$black;
  }

  &:hover:after {  
    border: none;
  }

  .success {
    opacity: 1;
    visibility: visible;
  }

  span {
    opacity: 0;
    visibility: hidden;
  }
}
