@use '../abstracts/colors' as a;

nav {
  padding: 5vh 10vw 5vh 5vw;
  position: fixed;
  width: 100%;
  color: a.$white;
  mix-blend-mode: difference;
  z-index: 1;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 7vh;
    color: a.$black;
    mix-blend-mode: normal;
  }

  .links {
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 0.8rem;
  }

  a {
    color: a.$white;
    mix-blend-mode: difference;
    transition: .3s;

    &:hover {
      color: a.$gray;
    }
  }
}

.social {
  height: 100%;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5vh;
  padding: 0 7vw;
  position: fixed;
  color: a.$white;
  mix-blend-mode: difference;
  z-index: 1;
  
  .social-icon {
    color: a.$white;
    mix-blend-mode: difference;
    transition: .4s;
    font-size: 2ch;

    &:hover {
      transition: .4s;
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 576px) {
  nav {
    display: none;
  }

  .social {
    display: none;
  }
}