@use '../abstracts/colors' as a;

nav {
  padding: 50px 100px 50px 75px;
  position: fixed;
  width: 100%;
  color: a.$white;
  mix-blend-mode: difference;
  z-index: 1;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 44px;
    color: a.$black;
    mix-blend-mode: normal;
  }

  .links {
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 0.8rem;
  }

  a {
    color: a.$white;
    mix-blend-mode: difference;
    transition: .3s;

    &:hover {
      color: a.$gray;
    }
  }
}

.social {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0.9em;
  padding: 0 50px;
  position: fixed;
  color: a.$white;
  mix-blend-mode: difference;

  &::after {
    display: block;
    content: '';
    width: 2px;
    margin: 0 auto;
    height: 10%;
    mix-blend-mode: difference;
    background: a.$white;
  }
  
  .social-icon {
    color: a.$white;
    mix-blend-mode: difference;
    transition: .4s;
    font-size: 1.1rem;

    &:hover {
      transition: .4s;
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 576px) {
  nav {
    display: none;
  }

  .social {
    display: none;
  }
}