@use '../abstracts/colors' as a;
@forward '../general/container';

html {
  font-size: calc(14px + 0.390625vw);
  scroll-behavior: smooth;
}

body {
  font-family: 'FSLucasPro';
  font-weight: 500;
  color: a.$gray;
  mix-blend-mode: difference;
  text-wrap: balance;
}

h1, h2 {
  line-height: 1.0;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  color: a.$black;
}

h3, p {
  font-size: 0.9rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: a.$black;
  font-size: .9rem;
}

.bg-black {
  background-color: a.$black;
  color: a.$white;
}

.bg {
  background: a.$white;
}
